body {
  font-family: "Roboto Mono", monospace, sans-serif;
  color: lightgrey;
  background-color: #151b29;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  /*height: 100vh;*/
}

hr {
  border-color: #ffa260;
}

h2 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.child {
  margin: 0 auto;
  width: 60%;
}

.container2 {
  display: flex;
  justify-content: center;
}

.child2 {
  margin: 0 auto;
}

button {
  background: none;
  color: #ffa260;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: all 0.25s;
}

.btl:hover {
  border-color: #44b8e6;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #c4e7f5;
  transform: translateY(-0.25em);
  cursor: pointer;
}

.bth:hover {
  border-color: #f83e3e;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #f5a2a2;
  transform: translateY(-0.25em);
  cursor: pointer;
}

.btc:hover {
  border-color: #0f9e3a;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #6df897;
  transform: translateY(-0.25em);
  cursor: pointer;
}

.btj:hover {
  border-color: #f1ff5c;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: pointer;
}
